<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<div class="login-container">
  <h1><%= title %></h1>

  <form id="loginForm" action="/account/login" method="post">
    <div class="form-group">
      <label for="client_email">Email:</label>
      <input type="email" id="clientEmail" name="client_email" required value="<%= locals.client_email %>">
    </div>
    <div class="form-group">
      <label for="client_password">Password:</label>
      <input 
        type="password" 
        id="clientPassword" 
        name="client_password" 
        required 
        value="<%= locals.client_password %>"
      >
    </div>
    <div class="form-group">
      <button type="submit">Login</button>
    </div>
    <div class="register-link">
      <p>No account? <a href="/account/register">Register</a></p>
    </div>
  </form>
</div>
