<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>
<div class="register-container">
  <h1><%= title %></h1>

  <form id="registerForm" action="/account/register" method="post">
    <div class="form-group">
      <label for="account_firstname">First Name:</label>
      <input type="text" id="account_firstname" name="account_firstname" placeholder="Enter your first name" required value="<%= locals.account_firstname %>">
    </div>
    <div class="form-group">
      <label for="account_lastname">Last Name:</label>
      <input type="text" id="account_lastname" name="account_lastname" placeholder="Enter your last name" required value="<%= locals.account_lastname %>">
    </div>
    <div class="form-group">
      <label for="account_email">Email:</label>
      <input type="email" id="account_email" name="account_email" placeholder="Enter a valid email address" required value="<%= locals.account_email %>">
    </div>
    <div class="form-group">
      <label for="account_password">Password:</label>
      <input type="password" id="account_password" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
      <div class="password-requirements">
        Password must be:
        <ul>
          <li>at least 12 characters</li>
          <li>include 1 capital letter</li>
          <li>include 1 number</li>
          <li>include 1 special character</li>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <button type="submit">Register</button>
    </div>
  </form>
</div>
